### 1. Import Dependecies

In [1]:
import pandas as pd

### 2. Load Data

In [2]:
df = pd.read_csv('data/raw/Viral_Social_Media_Trends.csv')
df.head()

,Post_ID,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level
0,Post_1,TikTok,#Challenge,Video,UK,4163464,339431,53135,19346,High
1,Post_2,Instagram,#Education,Shorts,India,4155940,215240,65860,27239,Medium
2,Post_3,Twitter,#Challenge,Video,Brazil,3666211,327143,39423,36223,Medium
3,Post_4,YouTube,#Education,Shorts,Australia,917951,127125,11687,36806,Low
4,Post_5,TikTok,#Dance,Post,Brazil,64866,171361,69581,6376,Medium

### 3. Basic Information

#### 3.1 Statistical Summary

In [3]:
df.describe()

              Views          Likes        Shares      Comments
count  5.000000e+03    5000.000000   5000.000000   5000.000000
mean   2.494066e+06  251475.029800  50519.562000  24888.393800
std    1.459490e+06  144349.583384  29066.362671  14284.504319
min    1.266000e+03     490.000000     52.000000     18.000000
25%    1.186207e+06  126892.250000  25029.000000  12305.250000
50%    2.497373e+06  249443.000000  50839.500000  25004.000000
75%    3.759781e+06  373970.750000  75774.250000  37072.750000
max    4.999430e+06  499922.000000  99978.000000  49993.000000

In [4]:
df.describe(include='object')

          Post_ID Platform   Hashtag Content_Type Region Engagement_Level
count        5000     5000      5000         5000   5000             5000
unique       5000        4        10            6      8                3
top     Post_5000  YouTube  #Fitness  Live Stream    USA              Low
freq            1     1324       536          855    677             1729

In [5]:
df[['Views','Likes','Shares','Comments']].var()

Views       2.130111e+12
Likes       2.083680e+10
Shares      8.448534e+08
Comments    2.040471e+08
dtype: float64

#### 3.2 checking any missing values

In [6]:
#checking data type
df.dtypes

Post_ID             object
Platform            object
Hashtag             object
Content_Type        object
Region              object
Views                int64
Likes                int64
Shares               int64
Comments             int64
Engagement_Level    object
dtype: object

In [7]:
df.isnull().sum()

Post_ID             0
Platform            0
Hashtag             0
Content_Type        0
Region              0
Views               0
Likes               0
Shares              0
Comments            0
Engagement_Level    0
dtype: int64

In [8]:
df.astype(str).apply(lambda x: x.str.strip()=='').sum()

Post_ID             0
Platform            0
Hashtag             0
Content_Type        0
Region              0
Views               0
Likes               0
Shares              0
Comments            0
Engagement_Level    0
dtype: int64

### 4. Handling missing values

##### There is no missing values so no need to perform

### 5. Drop Unnecessary Columns and Save the Refined Dataset

In [9]:
#### 5.1 checling duplicates
df.duplicated().sum()

np.int64(0)

In [10]:
# removing post ID
df = df.drop(columns=['Post_ID'])
df.head()

,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level
0,TikTok,#Challenge,Video,UK,4163464,339431,53135,19346,High
1,Instagram,#Education,Shorts,India,4155940,215240,65860,27239,Medium
2,Twitter,#Challenge,Video,Brazil,3666211,327143,39423,36223,Medium
3,YouTube,#Education,Shorts,Australia,917951,127125,11687,36806,Low
4,TikTok,#Dance,Post,Brazil,64866,171361,69581,6376,Medium

In [11]:
# saving handled data set
df.to_csv( 'data/processed/Missing_Values_Handled.csv', index=False)